:root {
    --unicred-gold-collor: rgb(167, 148, 80);
  }
  

  body{ 
    height: 100vh;
    
    background-color: #ffffff;
      
  }
  main{
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.03);
     
  }

 .form-control{
     border-radius: 1rem;
 }
 ::placeholder { 
    opacity: 0.5 !important;
  }
  #inputFullName, #inputEmail {
      text-align:left;
  }
  input{
     text-align: center;
  }
#IdkZipCode{

  font-size: 0.8em!important;
}
 /*================*/
